<div id="layout-footer">
  <div class="container" style="margin-top:30px">
    <div class="col-md-4 col-xs-12">Presentation
      <p><a href="https://ec.europa.eu/programmes/erasmus-plus/sites/erasmusplus/files/erasmus-plus-leaflet_en.pdf" target="_blank">Programme Leaflet</a><br><a href="https://ec.europa.eu/programmes/erasmus-plus/sites/erasmusplus/files/erasmus-plus-at-a-glance_en.pdf" target="_blank">Erasmus+ at a glance in figures</a><br><a href="https://ec.europa.eu/programmes/erasmus-plus/sites/erasmusplus/files/erasmus-plus-in-detail_en.pdf" target="_blank">Erasmus+ in detail</a><br><a href="http://ec.europa.eu/education/tools/statistics_en.htm" target="_blank">Statistics</a><br><a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32013R1288&amp;qid=1395671967554" target="_blank">Legal basis</a><br><a href="https://ec.europa.eu/programmes/erasmus-plus/sites/erasmusplus/files/library//erasmus-plus-factsheet_en.pdf" target="_blank">Erasmus+ Factsheet</a><br>&nbsp;</p>
    </div>
    <div class="col-md-4 col-xs-12">Funding
      <p><a href="http://ec.europa.eu/programmes/erasmus-plus/projects/" target="_blank">Erasmus+ Project results</a><br><a href="http://ec.europa.eu/programmes/erasmus-plus/calls-for-proposals-tenders" target="_blank">Calls for Proposals</a><br><a href="http://ec.europa.eu/programmes/erasmus-plus/resources_en#tab-1-0" target="_blank">Programme guide</a><br><a href="http://ec.europa.eu/programmes/erasmus-plus/about_en#tab-1-1" target="_blank">Eligible countries</a><br><a href="http://ec.europa.eu/programmes/erasmus-plus/resources_en#tab-1-2" target="_blank">Documents for applicants</a><br><a href="http://ec.europa.eu/education/participants/portal/desktop/en/home.html" target="_blank">Participants portal</a><br><a href="http://ec.europa.eu/programmes/erasmus-plus/resources_en#tab-1-4" target="_blank">Distance calculator</a></p>
    </div>
    <div class="col-md-4 col-xs-12">Contact
      <p><a href="http://ec.europa.eu/programmes/erasmus-plus/contact_en#tab-1-0" target="_blank">National agencies</a><br><a href="http://ec.europa.eu/programmes/erasmus-plus/contact_en#tab-1-1" target="_blank">National offices</a><br><a href="https://eacea.ec.europa.eu/erasmus-plus/contacts" target="_blank">Education, Audiovisual and Culture Executive Agency</a><br><a href="http://ec.europa.eu/programmes/erasmus-plus/contact_en#tab-1-2" target="_blank">Ask us about the programme</a><br><a href="https://ec.europa.eu/programmes/erasmus-plus/content/website-feedback_en" target="_blank">Website feedback</a></p>
    </div>
  </div>
</div>
